@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover :.2rem solid var(--black);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    border : none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size : 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;
}
header{
    display: flex;
    z-index:10000;
    position: fixed;
    top:0;right:0;left:0;
    background-color: #ffff;
    align-items: center;
    justify-content: space-between;
    padding : 1.2rem 9%;
    border-bottom: 4px solid #ff934f;
}
.logo{
    color : var(--black);
    font-size:1.8rem;
    font-weight: 600;
}
.logo i{
    color : var(--orange);
    margin-right: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.fa-search.changeColor{
    color:white;
    background-color: var(--orange);
}
.navbar a{
    font-size : 1.4em;
    color : var(--black);
    font-weight: 500;
}
.navbar a:hover{
    color : var(--orange);
}
.icons{
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.icons div{
    width :100px;
    font-size:15px;
    background-color: #82898923;
    margin-left:.8rem;
    padding:.9rem;
    border-radius: 3px;
}
.icons div:hover{
    color: #ffff;
    background-color: var(--orange);
}
.fa-bars{
    display: none;
}
/* the search icon */
.search-form{
    position: absolute;
    padding:.5rem;
    box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    border-radius: .5rem;
    top:73px;; right:-440px;
    background-color: #ffff;
    width:40rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.search-form.active{
    right: 2rem;
    transition: .2s linear;
}
.search-form #input-box{
    width: 95%;
    padding:.4rem;
    text-transform: none;  
}
.search-form .fa-search{
    font-size: 15px;
    cursor: pointer;
}
.search-form .fa-search:hover{
    color:var(--orange);
}

/* the shopping  cart : */
.shopping-cart{
    position: absolute;
    background-color: #ffff;
    box-shadow: 0px 0px 1.2px rgba(0,0,0,.4);
    padding :1rem;
    display: flex;
    width:230px;
    flex-direction: column;
    align-items: center;
    top:73px;
    right :-250px;
    border-radius: 5px;
}
.shopping-cart.active{
    right: 2rem;
    transition: .2s linear;
}
.fa-shopping-cart.changeColor{
    color:white;
    background-color: var(--orange);
}
.shopping-cart .box img{
    width : 80px;
    height : 80px;
}
.shopping-cart .box {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart .box i{
    font-size: 15px;
    color : var(--light-color);
    margin-right:20px;
    cursor: pointer;
}
.shopping-cart .box .fa-trash:hover{
    color: var(--orange);

}
.shopping-cart .btn{
    padding:.7rem;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #ff7800;
    color :var(--black);
}

.shopping-cart .btn:hover{
    background-color: var(--orange);
    color:#ffff;

}
.content{
    margin-left: 10px;
}

/* Login form: */
.login-form{
    position: absolute;
    top:73px;
    right :-260px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    padding :1rem;
    background-color: #ffff;
    display: flex;
    width:250px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.login-form.active{
    right: 2rem;
    transition: .2s linear;
}
.fa-user.changeColor{
    color:white;
    background-color: var(--orange);
}
.login-form .title{
    font-size: 1.4rem;
    font-weight: 550;
    margin-bottom: 10px;
}
.login-form input{
    background-color: rgb(227, 226, 226);
    margin-bottom: 10px;
    padding:.5rem;
    width: 100%;
    border-radius: 5px;
}
.login-form input:focus{
    box-shadow: 0px 0px 2px 0.4px #ff7800;
}
.login-form .options p{
    margin-bottom: 5px;
    font-size: 11.3px;
    font-weight: 420;
}
.login-form .options p a{
    color :var(--orange);
    text-decoration: underline;
}
.login-btn{
    padding:.2rem;
    width:100px;
    box-shadow: 0px 0px 1px rgba(0,0,0,4);
    color:var(--black);margin-bottom: 7px;
}
.login-btn:hover{
    background-color: var(--orange);
    color: #ffff;
}
/* Media Queries :  */

@media(max-width:750px)
{
    html{
        font-size: 50%;
    }
    /* NavBar : */
    header .navbar{
        flex-direction: column;
        position: absolute;
        height:200px;
        width:150px;
        justify-content: space-around;
        background-color: #ffff;
        top:73px;;right:-150px;
        box-shadow: 0px 0px 2px rgba(0,0,0,.4);
        padding:1rem;        
    }
    .fa-bars{
        display:inline-block;
    }
    .icons{
        margin-right: 30px;
    }
    .fa-bars.changeColor{
        color:white;
        background-color: var(--orange);
    }
    .navbar.active{
        right: 90px;
        transition: .2s linear;
    }
  
}

@media (max-width:300px)
{
    .logo{
        font-size: 1.1rem;
    }
    .icons div{
        padding: .7rem;
        font-size: 11px;
        margin-left:10px;
    }
}
/* *********************************************************************************************** */

/* main or home section:  */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/main_section.jpg");
    border-bottom: 2px solid #ff7800;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
}
.home .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:15rem;
}
.home .content h1{
    font-size: 30px;
    color:var(--black)
}
.home .content span{
    color: var(--orange);
}
.home .content p{
    margin-top:10px;
    font-size: 1.1rem;;
}
.home .content .btn{
    margin-top :20px;
    padding:.7rem;
    background-color: var(--orange);
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #ff7800;
    color :#ffff;
}
.home .content .btn:hover{
    background-color:  #ff934f;
    color:#ffff;
}
.heading {
    text-align: center;
    padding :3rem;
    font-size: 2.7rem;
    font-weight: 550;
}
.heading span{
    background-color: var(--orange);
    color : #ffff;
    padding:1rem 3rem;
    display: inline-block;
    /* polygone:  <====== */ 
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%); 
}

/* our features boxes:  */
.box-container{
    display: grid;
    gap:1rem;
    padding:1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    text-align: center;
}
.box-container .box{
    border:2px solid rgb(255, 152, 112);
    padding:.3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
    text-align: center;
}
.box-container .box img{
    width:200px;
    height :200px;
}
.box-container .box .btn{
    margin:.8rem;
    padding:.7rem;
    font-size: 15px;
    background-color: #ff7800;
    color:#ffff;
    font-weight: 400;
}
.box-container .box .btn:hover{
    background-color: #ff934f;
}
/* Media Queries :  */

@media(max-width:750px)
{
    .home .content h1{
        font-size: 20px;
    }
    .home .content p{
        font-size: 8px;
    }
}  
@media (max-width:300px)
{
    .home .content h1{
        font-size: 15px;
    }
    .home .content p{
        font-size:6px;
    }
    .box-container {
        padding:.03rem;

        
    }
    .box-container .box img{
        height:150px;
        width:150px;
    }
    .box-container .box h1{
        font-size: 13px;
    }
    .box-container .box .btn{
        font-size: 13px;;
    }
}
/* ********************************************************** */

.wrapper{
    padding:1rem;
    height:310px;
    width : 310px;
}

.wrapper .box:hover{
    transform: scale(1.01);
}
.wrapper .box{
    margin-right :15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    background-color: #ffffff;
    outline: 1px solid #ff77006c;
    border:2px solid #ff7800;
    outline-offset: -.6rem;
    margin-bottom: 10px;
   
}
.wrapper .box img{
    width:150Px;
    height:150px;

}
.wrapper .box .content{
    display: flex;
    width:250px;
    justify-content: space-between;
    align-items: center;
}
.wrapper .box .content .title{
    font-size: 20px;
    color:var(--black);
}
.wrapper .box .content .price{
    font-size: 15px;
    color:#ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height:50px;
    width:50px;
    border: 2px solid rgb(3, 3, 12);
    margin-left: 10px;
    background-color: rgb(246, 152, 45);
}
.wrapper .box .stars{
    font-size: 15px;
    color:#ff934f;
}
.wrapper .box .btn{
    background-color: var(--orange);
    border-radius: 20px;
    font-size: 15px;
    padding:1rem;
    width:180px;
    color:#ffff;
    margin-top: 20px;
}
.wrapper .box .btn:hover{
    background-color: #ff934f;
}

.buttons{
    padding:.8rem;
    text-align: center;    
}
.buttons .btn{
    width:100px;
    margin-right:5px;
    margin-bottom: 20px;
    padding:.5rem;
    background-color:#ffff;
    color:#ff7800;
    border: 2px solid #ff7800;
    border-radius: 10px;
}
.buttons .btn:hover{
    background-color: #ff934f;
    color:#ffff;
}
 

